body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #c1623f;
  height: 10%;
  width: 100%;
  z-index: 1;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Bebas Neue", cursive;
}

.navbar-brand:hover {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  margin-left: 10px;
  font-size: 1.3rem;
  transition: color 0.6s ease-in-out;
}

.nav-link:hover {
  color: #a7a7a7;
}

.main-content {
  height: 90%;
  overflow-y: auto;
}

.section {
  height: calc(100vh - 10%);
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#accueil {
  display: flex;
  background-color: #bad3ed;
  color: #343a40;
}

.sideways-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.slideshow-container {
  width: 50%;
  height: 100%;
}

.slides {
  width: 100%;
  height: 100%;
}
.slides img {
  width: 100%;
  height: 100%;
}

.purpose-container {
  width: 50%;
  background-color: #ffffff;
  color: #c1623f;
  overflow: scroll;
}

.purpose-container h2 {
  font-size: 2.5rem;
  font-family: "Bebas Neue", cursive;
  margin-top: 20px;
}

.purpose-container p {
  font-size: 1.5rem;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 100%;

  padding-bottom: 30px;
}

.information-container {
  width: 100%;
  height: 20%;
  background-color: #d29a85;
  color: #ffffff;
  overflow: scroll;
}

.information-container p {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 20px;
  font-family: "Bebas Neue", cursive;
  width: 100%;
  text-align: left;
  max-height: 100%;
}

.section h1 {
  font-family: "Bebas Neue", cursive;
  color: #c1623f;
  font-size: 2.5rem;
  padding-top: 1rem;
}

#nos-services {
  overflow: auto;
}

.two-services {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
}

.service-box {
  padding: 10px;
  border: 3px solid #c1623f;
  color: #c1623f;
  margin: 10px;
  width: calc(50% - 20px);
  overflow: auto;
}

.service-box h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

.service-box ul {
  text-align: left;
  font-size: 1.2rem;
}

.service-box button {
  background-color: #c1623f;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.service-box button:hover {
  background-color: white;
  border: 2px, solid #c1623f;
  color: #c1623f;
}

.two-photographe {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.full-photographe {
  width: 50%;
  height: 100%;
  border-top: 2px solid #d29a85;
}

.photographe {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  flex-wrap: wrap;
}

.reverse-layout .photographe {
  flex-direction: row-reverse;
  align-items: end;
}

.photo {
  text-align: left;
  height: 100%;
  width: auto;
  padding-right: 0;
}

@media (max-width: 768px) {
  .photo {
    flex: 1;
  }
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  overflow: scroll;
}

.info-photographe {
  margin-left: 20px;
  text-align: left;
  flex: 1;
  overflow: scroll;
  max-height: 100%;
}

.info-photographe h2 {
  margin: 0;
  font-size: 1.8rem;
  color: #c1623f;
  height: 20%;
  overflow: scroll;
}

.info-photographe p {
  font-size: 1rem;
  color: #555555;
  overflow: scroll;
}

.reverse-layout .info-photographe {
  text-align: right;
  margin-right: 20px;
}

.info-photographe .button-link {
  background: none;
  border: none;
  color: #c1623f;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
  text-decoration: none;
  overflow: scroll;
}

.info-photographe .button-link:hover {
  text-decoration: underline;
}

#rendez-vous {
  border-top: 2px solid #d29a85;
  border-bottom: 2px solid #d29a85;
}

.rdv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
}

.reste{
height: 30%;
overflow: auto;
}

.left-side,
.right-side {
  max-width: 48%;
  width: 30%;
  overflow: scroll;
  height: 100%;
}

.form{
  margin: 10px;
}

.form-control{
  border-radius: 0%;
}

.form label {
  color: #343a40;
  font-size: 1.3rem;
}

h3 {
  color: #343a40;
  font-size: 1.3rem;
}

.right-side label {
  font-size: 1rem;
}

button {
  margin-top: 20px;
  background-color: #c1623f;
  border: none;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  background-color: white;
  border: 2px, solid #c1623f;
  color: #c1623f;
}

button:active {
  background-color: white;
  border: 2px, solid #c1623f;
  color: #c1623f;
}

.button-disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed;
  opacity: 0.5; 
}


.rounded-button {
  background-color: #c1623f;
  border: none;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rounded-button:hover {
  background-color: white;
  border: 2px solid #c1623f;
  color: #c1623f;
}

.confirmationmsg{
  color: #c1623f;
  font-size: 1.3rem;
}


.portfolio {
  color: #c1623f;
}


.image-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
